In [37]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [38]:
df = pd.read_csv("../data/Airbnb_Open_Data.csv")

/var/folders/q5/4sgcvsds2rzbyzzy1kb4hgb00000gn/T/ipykernel_2967/1803013805.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/Airbnb_Open_Data.csv")

In [39]:
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [40]:
df.dtypes

id                                  int64
NAME                               object
host id                             int64
host_identity_verified             object
host name                          object
neighbourhood group                object
neighbourhood                      object
lat                               float64
long                              float64
country                            object
country code                       object
instant_bookable                   object
cancellation_policy                object
room type                          object
Construction year                 float64
price                              object
service fee                        object
minimum nights                    float64
number of reviews                 float64
last review                        object
reviews per month                 float64
review rate number                float64
calculated host listings count    float64
availability 365                  float64
house_rules                        object
license                            object
dtype: object

In [41]:
df.isnull().sum()

id                                     0
NAME                                 250
host id                                0
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        52131
license                           102597
dtype: int64

In [42]:
df = df.drop(columns=['house_rules','license'], axis=1)

In [43]:
import statistics

In [44]:
statistics.mode(df['price'])

nan

In [45]:
df['price'] = df['price'].fillna('$206 ')

In [46]:
df['price'].isnull().sum()

0

In [47]:
statistics.mode(df['service fee'])

'$41 '

In [48]:
df['service fee'] = df['service fee'].fillna('$41')

In [49]:
df['service fee'] = df['service fee'].replace({'\$': '', ',': ''}, regex=True).astype(int)

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
/var/folders/q5/4sgcvsds2rzbyzzy1kb4hgb00000gn/T/ipykernel_2967/1408637624.py:1: SyntaxWarning: invalid escape sequence '\$'
  df['service fee'] = df['service fee'].replace({'\$': '', ',': ''}, regex=True).astype(int)

In [50]:
df['price'] = df['price'].replace({'\$': '', ',': ''}, regex=True).astype(int)

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
/var/folders/q5/4sgcvsds2rzbyzzy1kb4hgb00000gn/T/ipykernel_2967/2481285112.py:1: SyntaxWarning: invalid escape sequence '\$'
  df['price'] = df['price'].replace({'\$': '', ',': ''}, regex=True).astype(int)

In [51]:
df = df.drop(columns=['id','NAME','host id'], axis=1)

In [52]:
# df = df.rename(columns={
#     'host_identity_verified': 'host_identity_verified',
#     'host name':'host_name',
#     'neighbourhood group':'neighbourhood_group',
#     'neighbourhood':'neighbourhood',
#     'lat'
    
# })

In [53]:
x = df.drop(columns=['price'],axis=1)
y = df['price']

In [54]:
df.isnull().mean()

host_identity_verified            0.002817
host name                         0.003957
neighbourhood group               0.000283
neighbourhood                     0.000156
lat                               0.000078
long                              0.000078
country                           0.005185
country code                      0.001277
instant_bookable                  0.001023
cancellation_policy               0.000741
room type                         0.000000
Construction year                 0.002086
price                             0.000000
service fee                       0.000000
minimum nights                    0.003986
number of reviews                 0.001784
last review                       0.154904
reviews per month                 0.154768
review rate number                0.003177
calculated host listings count    0.003109
availability 365                  0.004367
dtype: float64

In [55]:
x_cat = df.select_dtypes(include='object')
x_num = df.select_dtypes(exclude='object')

In [56]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

In [57]:
pre = ColumnTransformer(
    transformers=(
        ('num', Pipeline(steps=[
            ('impute', SimpleImputer(strategy='median')),
            ('scale', MinMaxScaler())
        ]), x_num.columns),
        ('cat', Pipeline(steps=[
            ('impute', SimpleImputer(strategy='most_frequent')),
            ('encode', OneHotEncoder())
        ]),x_cat.columns)
    )
)

In [58]:
pipeline = Pipeline(steps=[
    ('pre', pre),
    ('model', LinearRegression())
])

In [59]:
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [60]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [61]:
pipeline.fit(x_train,y_train)

ValueError: A given column is not a column of the dataframe

In [62]:
x_train.shape

(82079, 20)

In [63]:
y_train.shape

(82079,)

In [64]:
y

0          966
1          142
2          620
3          368
4          204
          ...
102594     844
102595     837
102596     988
102597     546
102598    1032
Name: price, Length: 102599, dtype: int64

In [30]:
x_train.head()

,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365
32047,verified,Parmenides,Manhattan,Upper West Side,40.78802,-73.96926,United States,US,False,moderate,Entire home/apt,2011.0,$75,30.0,0.0,NaN,NaN,4.0,3.0,200.0
25794,unconfirmed,Jamie,Queens,Sunnyside,40.74317,-73.92532,United States,US,True,flexible,Entire home/apt,2013.0,$39,3.0,40.0,7/2/2019,1.76,4.0,1.0,42.0
64063,verified,Karen,Brooklyn,Gravesend,40.60878,-73.97264,United States,US,True,moderate,Private room,2007.0,$168,30.0,120.0,9/4/2021,2.04,2.0,2.0,0.0
29439,unconfirmed,Sebastian,Manhattan,Harlem,40.82824,-73.94525,United States,US,True,moderate,Entire home/apt,2012.0,$142,10.0,2.0,9/1/2018,0.15,5.0,1.0,95.0
15180,verified,Pooran,Manhattan,Upper West Side,40.78216,-73.98350,United States,US,True,moderate,Entire home/apt,2005.0,$51,1.0,8.0,3/10/2019,0.20,3.0,1.0,203.0

In [65]:
x_train.dtypes

host_identity_verified             object
host name                          object
neighbourhood group                object
neighbourhood                      object
lat                               float64
long                              float64
country                            object
country code                       object
instant_bookable                   object
cancellation_policy                object
room type                          object
Construction year                 float64
service fee                         int64
minimum nights                    float64
number of reviews                 float64
last review                        object
reviews per month                 float64
review rate number                float64
calculated host listings count    float64
availability 365                  float64
dtype: object